<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tarea 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tarea 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-button></app-button>
    <app-animals-list></app-animals-list>
    <app-phone-number></app-phone-number>
    <app-score></app-score>
    <app-texto></app-texto>
  </div>
</ion-content>
